PORT=4000
DB_PATH=./data/taller.db
UPLOADS_DIR=./storage/uploads
PUBLIC_BASE_URL=http://localhost:4000
TIMEZONE=Europe/Madrid
# Si en futuro integras con WhatsApp Cloud API / proveedor email, van aqui
WHATSAPP_WEBHOOK_SECRET=cambia-esto
EMAIL_WEBHOOK_SECRET=cambia-esto
